<link href="/static/css/autocomplete.css" rel="stylesheet">
<script type="module">
    //Source: https://github.com/lekoala/bootstrap5-autocomplete
    import Autocomplete from "https://cdn.jsdelivr.net/gh/lekoala/bootstrap5-autocomplete@master/autocomplete.js";
    Autocomplete.init("input.autocomplete", {
        server: "/api/movies/title/",
        valueField: "id",
        labelField: "title",
        highlightTyped: true,
        maximumItems: 4,
        fixed: true, // fix overflow issues
        notFoundMessage: "Movie not found",
    });
</script>