{% extends '_base.html' %}
{% set active_page = "about" %}
{% block title %}About{% endblock %}
{% block content %}
<section class="container my-5">
    <h1 class=" mb-5">About MoReBo</h1>
    <p class="lead mb-5">MoReBo is a movie recommendation bot that was created as a project at the Zurich university of applied science in the
        module <a class="text-white">Python-Grundlagen & Anwendung in Data Science</a>. If you are interested
        you can have a look at our <a class="text-white" href="https://github.com/FabioArdi/morebo"><i class="fa-brands fa-github"></i> GitHub</a>.</p>
    <h2 class="text-center mb-4">Meet the Team</h2>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fabio A.</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Jan S.</h5>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <img src="https://via.placeholder.com/300" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Dominic P.</h5>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}